/*import section css*/
@import url("left_section.css");
/*
@import url("left_section.css");
@import url("left_section.css");
*/

.hidden {
    display : none;
}

html, body{
    height:95%;
    margin:0;
    overflow:hidden;
}

body{
    text-align : center;
    display : flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

    width:100vw;
    height:100vh;

    background-color: black;
    color:white;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section{
    width:30%;
    height:90%;

    /*section 구분을 위한 임시 border*/
    border:1px solid white;
}
