.hidden {
    display : none;
}

body{
    text-align : center;
}

#greeting{
    margin-right:20px;
    text-align:right;
}

#clock{
    color:white;
    font-size:150px;
    margin:0 auto;
    width:1000px;
    margin:0 auto;
}