html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

h1{
    margin: 0;
    overflow:hidden;
}

.routine{
    width:50vw;
    height:100%;

    background-color: white;

    position:relative;
}

.routine .routine__add{

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;

    border-radius:20%;
    border-style:dotted;

    left:3%;
    top:100px;
    position: relative;
    
    width : 50%;
    height:10%;
    padding:10px;

    display:flex;
    
    background-color:plum;
}

.routine .routine__list {
    position:relative;
    display:block;
    left: 3%;
    top:100px;
}

.routine .routine__list .routine-icon {
    width : 50%;
    height:70px;
    border-radius:20%;
    border-style:dotted;
    margin:5px;
    background-color:plum;

    padding:10px;
}
.routine .routine__list .routine-icon img {
    left: 10px;
}


.routine--dialog .routine--time {
    display:flex;
}

.routine--dialog .dialog__line {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
